@import "tailwindcss";

@theme {
  --color-lavender: #a895d1;
  --color-sage: #a2b178;
  --color-rosemary: #3d5a34;
  --color-mustard: #d9a441;
  --color-butter: #f2c230;
  --color-cream: #f5f0e6;
  --color-terracotta: #eb8672;
}

h1,
h2,
h3,
.font-display {
  font-family: var(--font-script);
}

p,
a,
span {
  font-family: var(--font-script-light);
}

body {
  background: var(--color-terracotta);
  color: var(--color-cream);
}
