@import "tailwindcss";

@theme {
  --color-bloodOrange: #ab482d;
  --color-terracotta: #d06224;
  --color-copperTulip: #ce5a43;
  --color-mossGreen: #889063;
  --color-olive: #8a8635;
  --color-marigold: #e6ae3c;
  --color-cream: #f5ead3;
  --color-apricot: #f09367;
  --color-ivory: #fffff0;
}

h1,
h2,
h3,
.font-display {
  font-family: var(--font-script);
}

p,
a,
span {
  font-family: var(--font-script-light);
}

body {
  background: var(--color-apricot);
  color: var(--color-cream);
}
